<br/>
<br/>
<%flash.each do |type, msg| %>
	<div>
		<%= msg %>
	</div>
<% end %>
<div class="books index">
  <h2>Books</h2>

  <%= link_to("Add new Book", books_new_path, :class => 'action new') %>

  <table class="listing" summary="Book list">
    <tr class="header">
      <th>Title</th>
      <th>Author</th>
      <th>Genre</th>
      <th>Price</th>
	  <th>Publish Date</th>
      <th>Actions</th>
    </tr>
    <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
	  <td><%= book.genre %></td>
	  <td><%= book.price %></td>
	  <td><%= book.publishDate %></td>

      <td class="actions">
        <%= link_to("Show", {:action => 'show', :id => book.id}, :class => 'action show') %>
        <%= link_to("Edit", {:action => 'edit', :id => book.id}, :class => 'action edit') %>
        <%= link_to("Delete", {:action => 'delete', :id => book.id}, :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
