<br/>
<br/>

<%= link_to("<< Back to List", books_index_path, :class => 'back-link') %>

<div class="books show">
  <h2>Show Book</h2>

  <table summary="Book detail view">
    <tr>
      <th>Title</th>
      <td><%= @book.title %></td>
    </tr>
    <tr>
      <th>Author</th>
      <td><%= @book.author %></td>
    </tr>
    <tr>
      <th>Genre</th>
      <td><%= @book.genre %></td>
    </tr>
    <tr>
      <th>Price</th>
      <td><%= @book.price %></td>
    </tr>
    <tr>
      <th>Publish Date</th>
      <td><%= @book.publishDate %></td>
    </tr>
  </table>

</div>
